* {

}

table {
    border-collapse: collapse;
    margin: 145px auto;
    width: 40%;
    border: 2px solid red;
    
    
}

.denominadores {
    background-color: grey;
    color: rgb(231, 231, 231);
    

}

.row {
    background-color: grey;
    color: rgb(231, 231, 231);
    width: 75px;
}

.dados {
    border-bottom: 1px solid black;
    
}

td{
    text-align: center;
}